@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
h1 {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}
h2{
    font-family: "Press Start 2P", system-ui;
    font-weight: 95;
    font-style: normal;
    color: grey;
}
h3{
    font-family: "Press Start 2P", system-ui;
    font-weight: 50;
    font-style: normal;
    color: grey;
}
h4{
    font-family: "Press Start 2P", system-ui;
    font-weight: 25;
    font-style: normal;
    color: grey;
}
p{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
figcaption{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
}
figure {
    text-align: center;
}
ul{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
}
nav {
    background-color: black;
    width: 100%;
    min-height: 10vh;
}
nav a{
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    text-decoration: none;
    color: whitesmoke;
}
nav li{
    list-style: none;
}
ul {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding: 10px;
}
nav a:hover{
    color: grey;
}
main{
    padding: 20px;
    width: 100%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 10px;
    align-items: center;
    width: 100%;
    min-height: 10vh;
}
footer p{
    color: whitesmoke;
}
footer a{
    text-decoration: none;
    font-family: "VT323", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: whitesmoke; 
}
footer a:hover{
    color: grey;
}
/* ===== SECCION INTRO ===== */
#intro {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.info h2 {
    font-size: 30px;
}
.info p{
    width: fit-content;
}
/* .info{
    text-align: end;
} */
.presentacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.presentacion h1{
    font-size: 20px;
}
.presentacion h4{
    font-size: 15px;
}
/* Logo / imagen de perfil */
#perfil {
    width: 300px;
}

/* ===== SECCION SOBRE MI ===== */
.sobremi{
    margin-left: 20px;
    margin-right: 20px;
}
.sobremi h3{
    padding: 10px;
}
/* Educacion */
.educacion {
    color: black;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.educacion ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

/* Idiomas */
.idiomas {
    background-color: black;
    color: white;
    width: fit-content;
    height: fit-content;
    padding: 10px;
}
.idiomas ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.idiomas h3{
    color: white;
}

/* Software / Tecnologias */
.software {
    background-color: white;
    color: black;
    width: auto;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    margin-bottom: 25px;
}

.software h3 {
    text-align: center;
    color: black;
    padding: 10px;
    margin-bottom: 25px;
    grid-column: 1 / -1;
}

.logo-sw {
    width: 40px;
}
.logo-ms{
    width: 250px;
}
#salir:hover{
    color: darkred;
}
#contenedor-sobremi{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#estrellas{
    text-align: center;
    padding: 20px;
}
.actimg{
    padding: 10px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
#prefe{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
.favs h3{
    text-align: center;
    color: black;
}
.personalidad ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.favoritos ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
.actualmente{
    padding: 20px;
}
.actualmente h3{
    margin-bottom: 20px;
    text-align: center;
}
#imgprefe{
    height: 200px;
}
#separador{
    padding: 30px;
}
.logo-pr{
    width: 70px;
}
.favoritos{
    text-align: center;
}
.favoritos p{
    font-size: 30px;
}
.personalidad{
    text-align: center;
}
.personalidad p{
    font-size: 30px;
}